<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <%- include("partials/nav.ejs")%>
        <form class="login-container">
            <label class="login-label">Username</label><input class="login-input" type="text" name="username"
                id="username" />
            <label class="login-label">Password</label><input class="login-input" type="password" name="password"
                id="password" />
            <input id="submit" type="submit" value='login' />
        </form>
        <!-- <form method="POST" action="/register" class="login-container">
            <label class="login-label"> register Username</label><input class="login-input" type="text" name="username"
                id="username" />
            <label class="login-label"> register Password</label><input class="login-input" type="password"
                name="password" id="password" />
            <input type="submit" value='register' />
        </form> ---->
        <script src="/axios/authentication.js"></script>
</body>

</html>